:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
}
body {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.small {
  font-size: 100%;
  text-align: center;
}
.split-screen {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.left {
  height: 200px;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("./assests/technology-abstract-background-with-particle-lines.jpg")
      no-repeat;
}
.left .copy {
  color: white;
  text-align: center;
}
.left .copy p {
  font-style: italic;
}
.right .copy {
  color: black;
  text-align: center;
}
.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}
.right form {
  width: 328px;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  transition: box-shadow 0.3s ease;
}
form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="password"]:hover {
  border: 2px solid green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
label {
  display: block;
  margin-bottom: 0.5rem;
  margin-bottom: 0.75rem;
}
.signup-btn {
  display: block;
  width: 100%;
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 0.5rem;
  transition: box-shadow 0.3s ease;
}
.signup-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.social-media {
  display: flex;
  justify-content: space-evenly;
}
.social-media .st {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.social-media .st:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right {
    display: flex;
    width: 50%;
    height: 100%;
  }
}
